{% extends 'layout.html' %}
{% block mycontent %}
    <h1>icta academy</h1>
    <p>To promote affordable and adequate access to quality ICT services through functional market-driven competition and regulatory principles in a trouble-free Networked Information and Knowledge Society.
            Parliament passed the Information and Communication Technologies Authority Act in late 2001, effectively creating the ICT Authority which has the status of a body corporate.
            </p>
{% endblock %}